@charset "UTF-8";

/* ----------
 base
---------- */
body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.sec-title {
  margin-bottom: 30px;
  font-size: 36px;
  text-align: center;
}

.w-container {
  max-width: 1240px;
  margin: 0 auto 60px;
  padding: 0 16px;
}
/* ----------
 header
---------- */
.header {
  width: 100%;
  height: 80px;
  background-color: #fff;
}

.header.sticky {
  position: fixed;
  top: 0;
}

.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px;
  height: 100%;
}

@media (max-width: 600px) {
  .header-container {
    margin: 0;
    padding: 0 16px;
  }
}
/* ----------
 logo
---------- */
.logo {
  display: block;
}

/* ----------
 humberger
---------- */

.humberger {
  position: relative;
  width: 30px;
  height: 23px;
  transition: transform 0.6s;
}

.humberger > span {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #121212;
  transition: all 0.6s;
}

.humberger > span:nth-of-type(1) {
  top: 0;
}

.humberger > span:nth-of-type(2) {
  top: 10px;
}

.humberger > span:nth-of-type(3) {
  top: 21px;
}

.humberger.open {
  transform: rotate(360deg);
}

.humberger.open > span:nth-of-type(1) {
  top: 11px;
  transform-origin: center;
  transform: rotate(45deg);
}

.humberger.open > span:nth-of-type(2) {
  opacity: 0;
}

.humberger.open > span:nth-of-type(3) {
  top: 11px;
  transform-origin: center;
  transform:rotate(-45deg);
}


/* ----------
 nav
---------- */

.nav-container {
  position: fixed;
  top: 0;
  left: -310px;
  width: 300px;
  height: 100vh;
  padding: 60px 25px 0;
  background-color: #000;
  color: #fff;
  opacity: 0;
  z-index: 100;
  transition: all 0.6s;
}

.nav {
  margin-bottom: 60px;
}

.nav-container.open {
  left: 0;
  opacity: 1;
}

.global-nav > li {
  border-top: 1px solid #fff;
}

.global-nav > li:last-child {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.global-nav > li > a {
  display: block;
  font-size: 14px;
  line-height: 64px;
}

.sns-list > li {
  margin-bottom: 18px;
}
.sns-list > li > a {
  display: block;
  width: max-content;
}

/* ----------
 video
---------- */

#bg-video {
  width: 100%;
  max-height: 960px;
  margin-bottom: 60px;
  object-fit: cover;
  background-color: lightblue;
}

@media (max-width: 600px) {
  #bg-video {
    height: 100vh;
    object-fit: cover;
  }
}

/* ----------
 pickup
---------- */

#pickup {
  width: 100%;
  margin-bottom: 60px;
}

.slideshow {
  
  position: relative;
  width: 100%;
  height: 465px;
}

.slideshow img {
  display: none;
  position: absolute;
  max-width: 630px;
  left: 50%;
  transform: translateX(-50%);
  
}

/* ----------
 feature
---------- */ 

.feature-container {
  display: grid;
  grid-template-columns: repeat(auto-fit ,minmax(343px, 1fr));
  gap: 26px;
}

.feature-item {
  
  box-shadow: 0 0 15px -2px rgba(0,0,0,0.5);
}

.feature-item > img {
  width: 100%;
  object-fit: cover;
}

.feature-description {
  padding: 30px;
}

.category {
  font-size: 12px;
}

.feature-text {
  font-size: 14px;
}

.feature-date {
  font-size: 12px;
  text-align: end;
}
/* ----------
 contact
---------- */

#contact {
  width: 100;
  padding: 50px 0;
  background-color: #121212;
}

.contact-container {
  display: flex;
  flex-direction: row;
  gap: 140px;
}

.contact-container * {
  color: #fff;
}

.sec-title.contact {
  color: #fff;
}

.contact-info {
  width: 50%;
}

.contact-info > p {
  margin: 30px 0;
}

.contact-container form {
  width: 50%;
}

form > div {
  width: 100%;
  margin: 20px 0;
}

input, 
textarea {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  padding: 0;
}

input[type=submit]{
  width: 200px;
  height: 50px;
  margin: 0 auto;
  border: 1px solid #fff;
  background-color: transparent;
}

@media (max-width: 600px){
  .contact-container{
    display: block;
  }

  .contact-info {
    width: 100%;
  }

  .contact-container > form {
    width: 100%;
  }

}

/* ----------
 footer
---------- */

.footer {
  width: 100%;
  height: 38px;
  margin-top: -1px;
  background-color: #121212;
  color: #fff;
  font-size: 12px;
  line-height: 38px;
  text-align: center;
}